
h1, h2, h3, h4 {
    font-family: 'Signika', sans-serif;
}

body, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom:2rem;
    min-height:72%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
} */

.color-primary {
    color: #006e46 !important;
}

.color-secondary {
    color: #a21b50 !important;
}

.color-third {
    color: #be6419;
}


.bg-ocre {
    background-color: #bb6517;
}

.btn-primary {
    background-color: #bb6517 !important;
    border-color: #bb6517!important;
}

    .btn-primary:focus, .btn-primary:hover, .btn-primary.focus {
        background-color: #a0540f !important;
        border-color: #a0540f !important;
    }

.btn-outline-primary {
    border-color: #bb6517 !important;
    color: #bb6517 !important;
}

    .btn-outline-primary:hover {
        color: #fff !important;
        background-color: #bb6517;
    }

body {
    background-color: #464646;
    color: white;
}

a {
    color: #bb6517;
}


i{
    padding-right: 5px;
}

.active{
    text-decoration:underline;
}
.error {
    color: #d9534f;
    font-size: 15px;
    padding-top: 0.25rem;
    padding-top: 0.4rem;
}


.card {
    padding: 1rem;
    margin-top: 0.2rem;
    /* background-color: #ea872d!import;*/
    border-radius:1rem;
    
}

hr, .border-primary {
    border-color: #a0540f !important;
}

.flechas-out::-webkit-inner-spin-button, .flechasOut::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.acciones {
    display: flex;
    justify-content: space-evenly;
}

a:hover {
    font-weight: 600;
    color: #be6419;
    text-decoration: underline;
}
 .encabezado {
    padding: 0.5em;
    vertical-align: top;
    border-top: 0px solid #dee2e6!important; 
}

.table-dark {
    color: #fff;
    background-color: #343a40!important;
}

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: #212529!important;
    }

.footer-copyright {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
   
}
