
<div class="footer-copyright text-center py-2 mt-5 " id="footer">
    <p class="mb-1">Programación Web 3 2019 | 2C</p>
    <p class="text-primary mb-0">Grupo N° 10 | Jonathan Fuentes | Toledo Marcia | Sergio Demarco | Matias Ascheri</p>
</div>


