body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: 'Signika', sans-serif;
}

body, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 2rem 10%;
  min-height:72%;
}

/* Override the default bootstrap behavior where horizontal description lists 
 will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
  max-width: 280px;
} */

.color-primary {
  color: #006e46 !important;
}

.color-secondary {
  color: #a21b50 !important;
}

.color-third {
  color: #be6419;
}


.bg-ocre {
  background-color: #bb6517;
}
.bg-gris{
  background-color: var(--gris2)  ;
  color: var(--blanco)
}

/*******  boton danger ********/
.btn-danger {
  background-color: var(--rosa) !important;
  border-color: var(--rosa)!important;

}

  .btn-danger:focus, .btn-danger:hover, .btn-danger.focus {
      background-color: var(--rosa2) !important;
      border-color: var(--rosa2) !important;
      font-weight: 600;
  }

.btn-outline-danger {
  border-color: var(--rosa)!important;
  color: var(--rosa) !important;
  margin-top: 0!important;
}

  .btn-outline-danger:hover {
      color: var(--blanco)!important;
      background-color: var(--rosa);
      font-weight: 600;
  }

  /*******  boton primary ********/

.btn-primary {
  background-color: #bb6517 !important;
  border-color: #bb6517!important;

}

  .btn-primary:focus, .btn-primary:hover, .btn-primary.focus {
      background-color: #8d4603 !important;
      border-color: #a0540f !important;
      font-weight: 600;
  }

.btn-outline-primary {
  border-color: #bb6517 !important;
  color: #bb6517 !important;
  margin-top: 0!important;
}

  .btn-outline-primary:hover {
      color: var(--blanco)!important;
      background-color: var(--ocre2);
      font-weight: 600;
  }

  
/*******  boton success ********/
.btn-success {
  background-color: var(--verde) !important;
  border-color: var(--verde) !important;

}

  .btn-success:focus, .btn-success:hover, .btn-success.focus {
      background-color: var(--verde2) !important;
      border-color: var(--verde2) !important;
      font-weight: 600;
  }

.btn-outline-success {
  border-color: var(--verde)!important;
  color: var(--verde) !important;
  margin-top: 0!important;
}

  .btn-outline-success:hover {
      color: var(--blanco)!important;
      background-color: var(--verde);
      font-weight: 600;
  }

  /***************/
  
  .card:hover{
    box-shadow: 6px 4px 32px -3px rgba(0,0,0,0.5);
-webkit-box-shadow: 6px 4px 32px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 6px 4px 32px -3px rgba(0,0,0,0.5); 
  }

.fondo-imagen{
  height :300px;
  padding: .1rem;
}
.img-edit{
  width: 100%;
  height: 296px;
  object-fit: cover;
}

.img-card{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-img {
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  min-height: 100%;
}


.card-img-coupon {
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  min-height: 100%;
}
body {
  background-color: #464646;
}

a {
  color: #bb6517;
}


.active{
  text-decoration:underline;
}
.error {
  color: #d9534f;
  font-size: 15px;
  padding-top: 0.25rem;
  padding-top: 0.4rem;
}


.card-img-top {
  border-radius: .2rem .2rem 0 0;
}
.card {
  border-radius:.2rem;
  max-width: 100%;
  margin-bottom: 2rem;
}

hr, .border-primary {
  border-color: #a0540f !important;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.flechas-out::-webkit-inner-spin-button, .flechasOut::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  top: 0;
}

a:hover {
  font-weight: 600;
  color: var(--ocre2);
  text-decoration: underline;
}
.encabezado {
  padding: 0.5em;
  vertical-align: top;
  border-top: 0px solid #dee2e6!important; 
}

.table-dark {
  color: #fff;
  background-color: #212529 !important;
}

.table{
  margin-bottom: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
      background-color: #212529!important;
 }

footer {
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255 / 80%)!important;
}
.navbar-dark .navbar-nav .disabled {
  color: rgb(255 255 255 / 31%) !important;
}
#map_canvas {
  height: 300px;
  margin-top: 0.5rem;
}


.color-green {
  color:#06ca82 ;
}

.i-hover :hover {
  text-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-family: 'Signika';
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

/*--------------------------------------*/

:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --ocre: #be6419;
  --ocre2:#a0540f;
  --verde: #006e46 ;
  --verde2: #055034 ;
  --rosa: #a21b50;
  --rosa2: #7c123c;
  --headingFont:'Signika', sans-serif;
  --textFont:  'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  /*font-size: 60%; */
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 1rem;
  font-family: var(--textFont);
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 550;
  margin: 0 0 2rem 0;
  color: var(--gris2);
  letter-spacing: 2px;
}
h1 span {
  font-weight: 400;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

/** BOTONES **/
.btn {
  font-family: var(--textFont);
  padding: .8rem;
 /* font-size: 0.8rem;*/
  border-radius: 5rem;
  transition: background-color .3s ease;
}

.btn-left {
  border-radius: 5rem 0 0 5rem;
}

.btn-circle {
  width: 3rem;
  height: 3rem;
  padding: 6px 0px;
  border-radius: 5rem;
  font-size: 1rem;
  text-align: center;
}

.btn-right {
  border-radius: 0 5rem 5rem 0;
}
.btn:hover {
  cursor: pointer;
  color: var(--blanco);

}


.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}
.cerrar-sesion {
  color: var(--blanco);
}

@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 220px;
  }
  .seccion-principal {
      flex: 1;
  }

}


/* BARRA LATERAL */
aside  {
  padding: .2rem 1rem;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
  padding: 2rem 0;
  border-top: 1.5px dotted grey ;
  border-bottom: 1.5px dotted grey;

}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder{
  color: var(--gris2);
}
.side {
  margin-top: 1rem;
}
.listado-proyectos li {
  margin-bottom: 2rem;
}
.listado-proyectos li a {
  font-size: 1.4rem;
  color: var(--gris2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ocre);
  padding: 1rem 1.5rem;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 1.5rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
input, textarea{
  font-family: var(--textFont);
  padding: 0.6rem!important;
  /*font-size: 1.25rem!important;*/
  color: var(--gris3)!important;
}
.formulario form {
  max-width: 600px;
  margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--gris2);
}
.input-text {
  padding: 0.6rem;
  border: none;
  border-radius: .3rem;
  flex: 1;
  width: 100%;
}

.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 12px;
  padding-left: 6px;
  display: initial;
}




/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 6rem;
}

main {
  padding: 4rem 10%;
  min-height: calc(100vh - 75px - 50px);
}


.listado-tareas {
  max-width: 600px;
  margin: 0 auto;
}

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: .5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem;

}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}
.tarea .acciones .btn:first-of-type {
  margin-right: 1rem;
}
.tarea p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem;
}
.tarea .btn {
  padding: .8rem;
  font-size:1.4rem;
  border-radius: 0;
  margin: 0;
}

.estado {
  margin-right: 1rem;
}
.estado button, 
.mensaje {
  font-weight: 500;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
  text-align: center;
}

.mensaje:hover {
  cursor: default;
}
.completo,
.correcto {
  background-color: rgba(154, 252, 154, .3);
  color: var(--gris3);
}
.incompleto{
  background-color: rgba(255, 178, 178, .4);
  color: var(--gris3);
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  border-radius: 1rem;
  border: 1px solid rgb(102, 2, 2);
  background-color: rgb(173, 7, 7);
  color: var(--blanco);
}



.tarea-enter,
.proyecto-enter {
  opacity: 0;
}
.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.tarea-exit,
.proyecto-exit {
  opacity: 1;
}
.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.form-usuario {
  background-color: var(--gris2);
  height: 100vh;
  /*min-height: 800px;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-form {
  padding: 3.5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.campo-form:last-of-type {
margin: 0;
}
.campo-form label {
flex: 0 0 100px;
font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
border: 1px solid #e1e1e1;
padding: 1rem;
flex: 1;
}

.enlace-cuenta {
margin-top: 2rem;
display: block;
opacity: .7;
}

.alerta {
position: fixed;
top: 0;
left: 0;
padding: 1rem 2rem;
border-radius: 5rem 0 0 5rem;
font-weight: 300;
font-size: 1.2rem;
text-align: center;
width: 100%;
box-shadow: 4px 4px 30px -3px rgba(0,0,0,0.6);
z-index: 999;
}
@media (min-width:768px) {
.alerta {
    width: auto;
    top: 30px;
    right: 10px;
    left: auto;
}
}

.alerta-ok {
background-color: rgb(89, 231, 89);
color: rgb(2, 103, 2);
border: 1px solid #006711;
}
.alerta-error {
background-color: hsl(0, 78%, 60%);
color: var(--blanco);
border: 1px solid #670000;
}

.alerta-info {
background-color: hsla(36, 78%, 60%, 0.9);
color: var(--blanco);
border: 1px solid #673200;
}

.cortar-texto  {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 6s ;
  transition-timing-function: ease-in-out;

  }
  
  .cortar-texto-meet > h6,p {
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 6s ;
  transition-timing-function: ease-in-out;
  }
  
  .cortar-texto-meet  {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 6s ;
    transition-timing-function: ease-in-out;
  
  }
.small-text{
font-size: 12px!important;
font-family: var(--textFont);
line-height: 2rem;
}

.cortar-texto > h4  :hover {
  width: auto;
  white-space: initial;
  overflow: visible;
  cursor: pointer;
}

.cortar-parrafo{
  background: #fff;
max-height: 4rem;
overflow: hidden;
text-align: justify;
display: block;
}

.cortar-parrafo:before {
  content:'...';
  position: absolute;
  bottom: 7.8rem;
  right: 1rem;
}
.cortar-parrafo::after {
  background: inherit;
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1.5rem;
  z-index: 1;
  
}


.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: 0px!important; 
margin-left: 0px!important; 
}


.google-maps{
margin: 4rem
}



.text-estado{
padding: .5rem .8rem;
border-radius: 5rem;
letter-spacing: .5px;
}

.activo{
background: aquamarine;
color: var(--verde);
}

.contador{
background:#fdfdb3       ;
color: var( --gris2);
}

.contenedor-titulo{
height: 60px;
}

.logo-enlazar{
  vertical-align: middle;
  border-style: none;
  width: 30%;
  text-align: center;
  margin: auto;
  display: flex;
  margin-bottom: 2rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: .9rem 2rem 1rem 2rem;
}

.spin{
  width: 5rem;
   height: 5rem;
}

.qr-div{width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}