<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.unlam.enlazar"
    android:hardwareAccelerated="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_negro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Enlazar"
        android:vmSafeMode="false">

       

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key2" />

        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <!-- UI RECOLECTOR -->
        <activity android:name=".ui.recolector.RutaRecolectorMapActivity" />
	    <activity android:name=".ui.vecino.PuntosEncuentroMapActivity" />
        <activity android:name=".ui.recolector.ServiciosRecolectorRutaActivity"/>
        <activity android:name=".ui.recolector.DashboardRecolectorActivity"/>
        <activity android:name=".ui.recolector.RecuperarPassActivity" />
        <!-- UI VECINO -->
        <activity android:name=".ui.vecino.MisPuntosActivity" />
        <activity android:name=".ui.vecino.MisCanjesActivity" />
        <activity android:name=".ui.vecino.MiCuentaActivity" />
        <activity android:name=".ui.vecino.MisEncuentrosActivity" />
        <activity android:name=".ui.vecino.DetalleServicioActivity" />
        <activity android:name=".ui.vecino.DetalleCanjeItem" />
        <activity android:name=".ui.vecino.DashboardUserActivity" />
        <activity android:name=".ui.vecino.NuevoServicioActivity" />
        <activity android:name=".ui.vecino.SeccionInformativaDetalleActivity" />
        <activity android:name=".ui.vecino.SeccionInformativaActivity" />
        <activity android:name=".ui.vecino.CrearCuentaActivity" />

        <activity android:name=".ui.vecino.MisServiciosConfirmadosActivity" />
        <activity android:name=".ui.vecino.MisServiciosDetalleActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>