<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.unlam.enlazar"
    android:hardwareAccelerated="true">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Enlazar"
        android:vmSafeMode="false">
        <activity android:name=".ui.MisEncuentrosActivity"></activity>
        <activity android:name=".ui.MisServiciosPendientesActivity" />
        <activity android:name=".ui.MisPuntosActivity" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DetalleServicioActivity" />
        <activity android:name=".ui.MisServiciosConfirmadosActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.NuevoServicioActivity" />
        <activity android:name=".ui.DetalleCardInfoActivity" />
        <activity android:name=".ui.SeccionInformativaActivity" />
        <activity android:name=".ui.CrearCuentaActivity" />
        <activity android:name=".ui.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>