@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-white bg-dark">
    <h1>Bienvenido a Enlazar para administradores!</h1>
    <p class="lead">Mucha suerte en tu labores.</p>
    <p>Ante cualquier duda no dudes en contactarte con nosotros.</p>
</div>
